{% extends 'base.html' %} {% block head %}
<title>General Questions</title>
{% endblock %} {% block body %}

<div class="container">
  <form method="POST" class="form-register gen-form">
    {{ form.hidden_tag() }}
    <br />
    {{ form.bmi.label() }} Healthy = 18.5 - 24.9<br />
    {{ form.bmi(class="form-control", placeholder="BMI")}}
    <br />
    {{ form.age.label() }} <br />
    {{ form.age(class="form-control", placeholder="Age")}}
    <br />
    <br />
    <input type="checkbox" value="fever" name="symptoms" /> Fever?
    <br />
    <input type="checkbox" value="diabetes" name="symptoms" /> Diabetes?
    <br />
    <input type="checkbox" value="pregnant" name="symptoms" /> Pregnant?
    <br />
    <input type="checkbox" value="rash" name="symptoms" /> Rash?
    <br />
    <input type="checkbox" value="cough" name="symptoms" /> Cough?
    <br />
    <br />
    {{ form.submit_field(class="btn btn-lg btn-primary btn-block") }}
  </form>
</div>

{% endblock %}
